@model MVC_Officer_Mission.Models.Officer

@{
    ViewBag.Title = "حذف ضابط";
}

<h2>حذف ضابط</h2>

<h3>
    هل أنت متأكد من حذف هذا الضابط؟
</h3>
<div>
    <h4>ضابط</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Department.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rank.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rank.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FatherName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FatherName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MotherFullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MotherFullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CollegeCertificates)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CollegeCertificates)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsHeadOfDepartment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsHeadOfDepartment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProfileImage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProfileImage)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="حذف" class="btn btn-default" /> |
            @Html.ActionLink("الرجوع إلى القائمة", "Index", "", new { @class = "action_link" })
        </div>
    }
</div>
